* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #81EF95, #E2FFAD);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Bungee Spice", sans-serif;
}

.tic_tac_toe {
    font-size: 48px;
    padding-bottom: 20px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 32px;
    background-color: rgba(235, 232, 81, 0.753);
    border: none;
    border-radius: 20px;
    box-shadow: inset 0px 0px 50px 1px rgba(129, 248, 178, 0.2),
                0px 0px 50px 12px rgba(223, 221, 110, 0.2);
}

#winmsg {
    font-size: 8vh;
    color: peru;
    text-align: center;
}

.hide {
    display: none;
}

#reset {
    background-color: red;
    color: white;
    padding: 1em;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.reset.active {
    animation: reset 1s ease-in 0s 1 normal none;
}

@keyframes reset {
    0% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
    100% {
        opacity: 0.3;
        transform: rotate(540deg) scale(100);
    }
}

#reset:active {
    background-color: green;
}

.box.active {
    animation: ani 1s ease-in 0s 1 normal none;
}

@keyframes ani {
    0% {
        opacity: 1;
        transform: scale(0.8);
    }
    38% {
        box-shadow: inset 0px 0px 50px 1px rgb(255, 255, 255, 0.2),
                    0px 0px 50px 5px rgba(136, 223, 110, 0.404);
        opacity: 0.7;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
